{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <h3 class="mt-4">Contatos</h3>
        </div>
            <form action="" method="post" class="row mt-4">
               {{ form.csrf_token }}
               <div class="col-6">
                    {{ form.nome.label() }}
                    {{ form.nome(class="form-control") }}
               </div>
               <div class="col-6">
                    {{ form.email.label() }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="col-12">
               {{ form.assunto.label() }}
               {{ form.assunto(class="form-control") }}
            </div>
            <div class="col-12">
               {{ form.mensagem.label() }}
               {{ form.mensagem(class="form-control") }}
            </div>
            <div class="col-12">
               {{ form.btnSubmit(class="btn btn-dark mt-4 col-12") }}
            </form>
            </div>
    </div>
{% endblock %}